
h4 {
    font-weight: bold;
}

.reminder {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}
.reminder__person {
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 8px 20px 0 rgb(0 0 0 / 19%);
    width: 65vh;
    margin: 0 auto;
}

.person img {
    width: 75px;
    height: 75px;
    object-fit: cover;
    border-radius: 50%;
}
.person {
    display: flex;
}
.person__name {
    padding-left: 20px;
}
button {
    width: 80%;
}
